.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    background-color: #ffffff; /* Default background */
    color: black;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.checkbox-item input {
    display: none; /* Hide the checkbox */
}

.checkbox-item.active {
    background-color:  #4db7fe6b !important;
    border-color: black !important;
    color: black !important;
    }

/* Optional: Hover effect on the label */
.checkbox-item:hover {
    background-color:#4db7fe6b;
}

/* Hover effect for the checked label */
/* .checkbox-item input:checked + label:hover {
    background-color: #00796b;
} */